p Vous cachez le cadavre sous l'escalier et vous vous hâtez de le fouiller. Vous y découvrez une Épée d'Os et un Disque de Pierre Bleue. Si vous souhaitez conserver l'un ou l'autre de ces objets(ou les deux), inscrivez-les sur votre Feuille d'Aventure dans la case Objets Spéciaux. Vous abandonnez ensuite le cadavre et vous montez l'escalier quatre à quatre.
