#flawlessWin
	Si vous tuez la créature sans perdre aucun point d'ENDURANCE, rendez-vous au #[a(ng-click="loadPage(12)") 70].
#win
	Si vous perdez des points d'ENDURANCE aucours du combat, rendez-vous immédiatement au #[a(ng-click="loadPage(129)") 129].
