div(ng-controller="choixController as choix")
	div(ng-show="playerProg.section == 1")
		p(#class="message") Faites un choix

		#combatButtonRow
			button(ng-click="prendreDmg(3)"
				).
				Prendre 3 points de dégât.
			button(ng-click='retirerObjet("rations spéciales")', ng-show='hasObject("rations spéciales")'
				).
				Prendre Consommer un repas.

	div(ng-controller="aleatoireController as alea")
		div(ng-show="playerProg.section == 2")
			p.
				Utilisez la Table de Hasard pour obtenir un chiffre. Si votre total d'ENDURANCE actuel est inférieur à 10, vous ôterez 2 au chiffre obtenu. Si ce total est supérieur à 20, vous ajouterez 1 au chiffre donné par la Table.

			#combatButtonRow
				button(ng-click="HasardBonus()"
					).
					Prendre Utilisez la table de Hasard.

		div(ng-show="playerProg.section == 3")
			p(ng-if= "playerProg.des == 248") Si le total obtenu se situe entre -2 et 2, rendez-vous au #[a(ng-click='loadPage(248)') 248].
			p(ng-if= "playerProg.des == 191") S'il est de 3 à 10, rendez-vous au 191.