.combat .ronde{
	
	font-weight: 600;
	margin-bottom: 10px;
}
.combat .ronde p{
	margin: 0;
	font-size: 14px;
}

.combat tour{
	font-size: 18px;
	text-decoration: underline;
	color: #FBA442;
}

.combat dmg{
	color: red;
}

.combat vie{
	color: #2F8D2F;
}

.combat ennemi{
	color: #DDF024;
}

.combat joueur{
	color: #7C7CEC;
}