/* source du code : http://codepen.io/maccadb7/pen/nbHEg?*/
/* nom du projet : Modal - Pure CSS (no Javascipt)*/

.btn {
  background: #FF5A09 ; 
  border: medium solid #ff9900;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  padding: 8px 15px;
  text-decoration: none;
  text-align: center;
  min-width: 60px;
  position: relative;
  transition: color .1s ease;
  /* top: 40em;*/
}
.btn:hover {
  background: #fff;
  color: #FF5A09;
}
.btn.btn-big {
  font-size: 18px;
  padding: 15px 20px;
  min-width: 100px;
}
.btn-close {
  color: #aaaaaa;
  font-size: 30px;
  text-decoration: none;
  position: absolute;
  right: 5px;
  top: 0;
}
.btn-close:hover {
  color: #919191;
}
.modal:before {
  content: "";
  display: none;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
.modal:target:before {
  display: block;
}
.modal:target .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  top: 40%;
}
.modal-dialog {
  color: white;
  background: rgba(243,132,62,0.5); 
  border: medium solid #FF5A09;
  border-radius: 5px;
  margin-left: -200px;
  position: fixed;
  left: 50%;
  z-index: 11;
  width: auto;
  -webkit-transform: translate(0, -500%);
  -ms-transform: translate(0, -500%);
  transform: translate(0, -500%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal-body {
  padding: 20px;
  font-size: 16px;
}

.modal-body figure{
  width: 100px;
  height: auto;
  text-align: center;
}

.modal-body img{
  width: 75px;
  height: 75px;
}

.modal-header,
.modal-footer {
  padding: 10px 20px;
}
.modal-footer {
  text-align: center;
}

input
{
  display: none;
}

.modal label
{
    pointer-events:none;
}

label figure .imageBackground
{
  margin: 10px;
  width: 75px;
  height: 75px;
  pointer-events:all;
}

.modal-body *:checked ~ label figure .imageBackground
{
  background: rgba(255,90,9,0.5);
  border-style:solid;
  border-width: medium;
  border-color: #FF9900;
}

.modal-body *:not(:checked) ~ label figure .imageBackground:hover
{
  background: rgba(255,153,0,0.5);
}