sidePanel {
    position: fixed;
    width: 200px;
    left: 0;
    top: 100px;
    float: left;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    overflow: auto;
    overflow-y:hidden;
    color: white;
    border-right: medium solid #FF5A09;
    border-bottom: medium solid #FF5A09;
    border-bottom-right-radius: 25px;
    background: rgba(243,132,62,0.5); //#F3843E
}

.combatHistory table
{
  border-collapse:collapse;
  width: 90%;
  margin : 0;
}
.combatHistory table tr
{
  width:100%;
  padding: auto;
}
.combatHistory table td
{
  width:33%;
  padding: auto;
  margin: auto;
  text-align: center;
}
.combatHistory table th
{
  width:33%;
  padding: auto;
  margin: auto;
  text-align: center;
  color: #FF9900;
}

sidePanel ul{
    margin-left: -24px;
    list-style-type: none;
    font-family: "Copperplate Gothic Light";
    font-weight: bold;
}

sidepanel h2
{
    margin-left: -15px;
    margin-right: -15px;
    text-align: center;
    color: #FF5A09;
}

sidePanel label
{
    color: #F3843E;
}

sidePanel p
{
    margin-left: 15px;
    font-family: "Copperplate Gothic Light";
    color: white;
    font-weight: bold;
} 

sidePanel .attributs #value
{
    float: right;
    text-align: right;
    padding-right: 20px;
}

#rangButton, #attributsButton, #disciplinesButton, #armesButton, #rangClose, #attributsClose, #disciplinesClose, #armesClose, #historiqueButton, #historiqueClose

{
    display: none;
}

#rangButton:checked ~ .rang, #rangButton:checked ~ h3 #rangOpen, 
#attributsButton:checked ~ .attributs, #attributsButton:checked ~ h3 #attributsOpen, 
#disciplinesButton:not(:checked) ~ .disciplines, #disciplinesButton:not(:checked) ~ h3 #disciplinesOpen, 
#armesButton:not(:checked) ~ .armes, #armesButton:not(:checked) ~ h3 #armesOpen,
#historiqueButton:not(:checked) ~ .combatHistory, #historiqueButton:not(:checked) ~ h3 #historiqueOpen
{
    display:none;
}

#rangButton:checked ~ h3 #rangClose, #attributsButton:checked ~ h3 #attributsClose, 
#disciplinesButton:not(:checked) ~ h3 #disciplinesClose, #armesButton:not(:checked) ~ h3 #armesClose,
#historiqueButton:not(:checked) ~ h3 #historiqueClose
{
    display: inline;
}