div(ng-controller="aleatoireController as alea")
	div(ng-show="playerProg.section == 1")
		p.
			Utilisez la Table de Hasard pour obtenir un chiffre.

		#combatButtonRow
			button(ng-click="Hasard()"
				).
				Utilisez la table de Hasard.

	div(ng-show="playerProg.section == 2")
		p(ng-if= "playerProg.des == 57") Si vous tirez un chiffre entre 0 et 3, rendez-vous #[a(ng-click='loadPage(57)') 57].
		p(ng-if= "playerProg.des == 188") Entre 4 et 6, rendez-vous au #[a(ng-click='loadPage(188)') 188].
		p(ng-if= "playerProg.des == 331") Entre 7 et 9, rendez-vous au #[a(ng-click='loadPage(331)') 331].

