extends layout

block css		
	link(rel='stylesheet', href='/stylesheets/combat.css')

block content
	-var habileteJoueur = 15
	-var enduranceJoueur = 22
	h1 Combat
	p Bakanal Habileté: #{ennemi.habilete} Endurance: #{ennemi.endurance}
	p
	p Joueur Habileté: #{habileteJoueur} Endurance : #{enduranceJoueur}

	.combat
		p BAKANAL HABILETÉ: 11 ENDURANCE: 35
		.ronde
			p <tour>Ronde Combat: 1</tour>
			p Ratio de combat: 20 Chiffre aléatoire: 4
			p <ennemi>BAKANAL</ennemi> a obtenu <dmg>5 dégâts</dmg> - et a maintenant <vie>34 point d'ENDURANCE</vie>
			p <joueur>LONE WOLF</joueur> a eu <dmg>5 dégâts</dmg> - et a maintenant <vie>13 points d'ENDURANCE</vie>.

	button(
		type="fight"
		).
		Combat!