img(class="textImage", src="../images/imagePage1.png")

p Avant même que vous n'ayez accepté la mission de ramener Vonotar devant la justice de votre pays, les préparatifs de votre voyage à Kalte ont été entrepris. 
  |Le commandant du vaisseau de guerre Cardonal, de retour d'une patrouille dans la mer de Kalte,a reçu l'ordre d'attendre votre arrivée au port d'Anskaven où 
  |le bâtiment est ancré. Au cours de la nuit, on a amené à bord les vivres, les équipements polaires et les meutes de chiens Kanu-des chiens de traîneau qui 
  |vous seront nécessaires dans votre quête. La nature de votre mission est restée secrète et seuls les officiers supérieurs en ont été informés. Le commandant 
  |a reçu pour instruction de vous amener jusqu'au promontoire de Halle, de jeter l'ancre et d'attendre là votre retour. Une équipe de guides triés sur le volet à
  |vous conduira du promontoire jusqu'à Ikaya. Dès que vous serez entré dans la Forteresse de Glace, vous devrez alors chercher Vonotar, le capturer, puis revenir 
  |au vaisseau, toujours en compagnie de vos guides. Il ne vous est accordé que trente jours pour accomplir votre mission car l'hiver approche et, au-delà de ce 
  |délai, le Cardonal serait irrémédiablement pris dans des glaces dont il ne pourrait plus se dégager. Aussi le commandant sera-t-il contraint de regagner le 
  |Sommerlund sans vous si vous ne revenez pas à temps. Pendant six jours, le Cardonal fait voile dans la mer de Kalte sans traverser une seule tempête ; chaque 
  |jour, cependant, la température descend et, bientôt, une couche de givre recouvre les ponts du bateau. Au matin du septième jour, l'île de Tola, ensevelie 
  |sous la neige, est en vue. Peu après, un léger vent se lève, en provenance de l'ouest. Tout d'abord, il ne semble pas très inquiétant, mais une demi-heure 
  |plus tard, un violent blizzard se met à souffler et les côtes qui se dessinaient au loin ont tôt fait de disparaître dans la tourmente. La terrible tempête 
  |fait rage toute la journée. Des vents redoutables écrêtent les gigantesques vagues grises en projetant des paquets de mer sur les ponts, les mâts et les 
  |gréements du navire ; l'eau gèle instantanément et les flancs du Cardonal sont recouverts d'une couche de glace de plusieurs dizaines de centimètres 
  |d'épaisseur. C'est seulement en début de soirée que le ciel s'éclaircit et que la tempête cesse de souffler bien que le vent reste fort. 

p Il ne vous faut pas longtemps pour vous rendre compte que la tempête vous a fait dévier de votre route d'environ 50 kilomètres, le long de la banquise de Liouk. Vous 
  |n'ignorez pas qu'en voulant retourner au promontoire de Halle, vous perdriez une journée entière, et vous décidez donc d'aborder sur la banquise pour 
  |y entreprendre votre mission. Tandis que l'on débarque les derniers chiens Kanu, vos guides vous expliquent que, de l'endroit où vous êtes, il existe 
  |deux itinéraires possibles pour vous rendre à Ikaya. Le premier représente une marche de 200 kilomètres environ qui vous mènera au mont des Brumes. De 
  |là, vous aurez encore à parcourir 150 autres kilomètres sur le glacier de Viad avant d'arriver à la Forteresse de Glace. Vos guides vous précisent que 
  |cette expédition sur le glacier sera difficile. L'autre itinéraire est plus long, il vous oblige tout d'abord à couvrir une distance de presque 300 
  |kilomètres dans la plaine de Hrod; ensuite, vous devrez traverser le défilé de la Tempête, long de 150 kilomètres. Même si le temps et la chance vous 
  |sont favorables, l'un et l'autre itinéraires vous contraindront à une marche pénible d'au moins dix jours pour atteindre votre objectif. Avant de prendre 
  |une décision, il serait sage de consulter la carte de Kalte qui figure entête de ce livre. 

p Si vous souhaitez prendre l'itinéraire le plus court, mais 
  |le plus difficile, celui qui passe par le glacier de Viad,rendez-vous au #[a(href="/page/160") 160].

p Si vous préférez essayer l'itinéraire le plus 
  |long, mais le plus facile, celui qui traverse la plaine de Hrod et le défilé de la Tempête, rendez-vous au #[a(href="/page/273") 273].
