p  Le matériel et les vivres sont rapidement déballés et répartisentre vous. Vous recevez des provisions qui représententl'équivalent de 3 Repas, des Couvertures en Fourrure et uneCorde. Inscrivez tous ces éléments sur votre Feuille d'Aventure en sachant que les Couvertures en Fourrure prennent dans votreSac à Dos la place de deux objets normaux. Il vous est impossibled'emmener les chiens Kanu dans les montagnes et vous êtes donccontraint de les abandonner ici, de même que les traîneaux. Vous vous encordez avec vos guides, et vous vous mettez en route endirection d'un étroit passage qui s'enfonce entre les pics sombres  et sinistres. Tout d'abord, l'escalade ne présente pas de difficultés bientôt mais , la pente de glace lisse devient abrupte et votreprogression est beaucoup plus malaisée. Un vent se lève quiforme des tas de neige poudreuse contre les blocs de glace et la visibilité est alors réduite à quelques mètres. Les tas de neigesont trompeurs et parfois profonds. A deux reprises, vous vous y enfoncez jusqu'à la poitrine et les autres doivent venir vousdégager. Cette nuit-là, vous dressez votre tente sur une surfacede granité recouverte de glace qui surplombe un profond ravin. Vous êtes épuisé et vous vous endormez presque au cours duRepas (n'oubliez pas de rayer ce Repas de votre Feuille d'Aventure).
p «Est-ce que vous parlez un peu la langue des Barbares des Glaces ? demande Dyce qui essaie d'entretenir la conversation. Pour ma part, je ne connais que quelques mots, Myjavik, par exemple. » Lorsque vous lui demandez ce que cemot signifie, il observe un instant de silence puis vous répond: «Terreur... Myjavik signifie terreur. » Soudain, un bruitimpressionnant retentit à l'extérieur de la tente. On dirait lerugissement d'un gros animal.


div#decision
	p Si vous souhaitez tirer votre épée et aller voir de quoi il s'agit, #[a(href="#modal-180") Rendez-vous au 180].
	p Si vous préférez retenir votre souffle en restant aussi immobile que possible, #[a(href="#modal-259") Rendez-vous au 259].

div(class="modal" id="modal-180" aria-hidden="true")
	div(class="modal-dialog")
		div(class="modal-body")
			p Ajoutez les objets suivant à votre inventaire.
			ul(class= "flex-container")
				figure
					.imageBackground
						img(src="../images/food.png")
					figcaption 3 Repas
				figure
					.imageBackground
						img(src="../images/fur.png")
					figcaption Couvertes en Fourrure.
				figure
					.imageBackground
						img(src="../images/rope.png")
					figcaption Corde
		div(class="modal-footer")
			a(href="/page/180" class="btn") Continuer

div(class="modal" id="modal-259" aria-hidden="true")
	div(class="modal-dialog")
		div(class="modal-body")
			p Ajoutez les objets suivant à votre inventaire.
			ul(class= "flex-container")
				figure
					.imageBackground
						img(src="../images/food.png")
					figcaption 3 Repas
				figure
					.imageBackground
						img(src="../images/fur.png")
					figcaption Couvertes en Fourrure.
				figure
					.imageBackground
						img(src="../images/rope.png")
					figcaption Corde
		div(class="modal-footer")
			a(href="/page/259" class="btn") Continuer