p Les poils rêches qui couvrent la langue du Languabarb sontimprégnés d'un puissant venin grâce auquel la créature paralyseses victimes avant de les dévorer. En moins de cinq secondes, lepoison fait son effet, et vous perdez connaissance avant mêmeque votre tête n'ait heurté la neige. Lorsque vous reprenezconscience, vous sentez un poids vous peser lourdement sur lapoitrine. C'est le cadavre d'Irian. Et tandis que vous essayez tant bien que mal de vous relever, une vision désolante s'offre à vousdans la brume du petit matin. Tous vos guides, en effet, sontmorts et ce qui reste de votre équipement est dispersé alentour.
p Les cadavres des deux Languabarbs sont étendus dans la neigetachée de sang : tous deux ont été tués à coups d'épée. Engourdipar le froid et le choc que vous venez de recevoir, vous cherchezpendant une heure votre Sac à Dos, parcourant d'un paschancelant l'étendue glacée, lorsque vous vous apercevez enfinqu'il est toujours accroché à vos épaules. Bien que vous soyeztoujours dans un état second, vous parvenez malgré tout àdécouvrir un chemin escarpé qui vous permet de poursuivre votre route. Un vent glacial souffle sur ces montagnes hostiles etsi vous ne vous êtes pas enduit le corps d'huile de Bakanal, vousperdez 3 points d'ENDURANCE.

div#decision
  p #[a(href="#modal-155") Rendez-vous au 155]


div(class="modal" id="modal-155" aria-hidden="true")
  div(class="modal-dialog")
    div(class="modal-body")
      p Vous perdez 3 points d'ENDURANCE.
    div(class="modal-footer")
      a(href="/page/155" class="btn") Continuer