p Vous vous cramponnez à la paroi rocheuse pendant toute la nuit. Le vent glacial vous cingle le visage et vous êtes saisi de tremblements incontrôlables, luttant de toutes vos forces pour ne pas vous évanouir. Vous perdez 2 points d'ENDURANCE. L'huile de Bakanal vous permet cependant de conserver suffisamment de chaleur dans votre corps pour arriver à survivre : sans elle, le froid aurait eu raison de vous.

div#decision
    p À présent, #[a(href="#modal-155") rendez-vous au 155].

div(class="modal" id="modal-155" aria-hidden="true")
  div(class="modal-dialog")
    div(class="modal-body")
      p Vous perdez 3 points d'ENDURANCE.
    div(class="modal-footer")
      a(href="/page/155" class="btn") Continuer