img(class="textImage", src="../images/imagePage78.png")

p Vous vous préparez en hâte et vous sortez de la tente. Le vent s'est intensifié et il emporte la neige poudreuse en petits tourbillons qui réduisent 
  |considérablement la visibilité. Une ombre sur votre droite trahit la présence du Bakanal qui bondit sur vous. Vous n'avez plus le temps d'éviter son 
  |Assaut, et il vous faut le combattre jusqu'à la mort.

p BAKANAL HABILETÉ: 19 ENDURANCE: 30

#win
	Si vous êtes vainqueur, rendez-vous au #[a(href="/page/245") 245].