div(ng-controller="choixController as choix")
	div(ng-hide='playerProg.section != 1 || hasSpecialObject("Huile de Bakanal")')
		p(#class="message") Vous perdez 3 points de vie!

		#combatButtonRow
			button(ng-click="prendreDmg(3)"
				).
				Continuer

	div(ng-show='playerProg.section == 2 || hasSpecialObject("Huile de Bakanal")')
		p Rendez-vous au #[a(ng-click='loadPage(155)') 155]
