div(ng-controller="choixController as choix")
	div(ng-show="playerProg.section == 1")
		p(#class="message") Vous perdez 2 points de vie!

		#combatButtonRow
			button(ng-click="prendreDmg(2)"
				).
				Continuer

	div(ng-show="playerProg.section == 2")
		p À présent, rendez-vous au #[a(ng-click='loadPage(155)') 155].
